{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ceccon Cristiano">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <title>Informações Itália 001</title>
    <link href=" {% static 'vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-stand-blog.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flex-slider.css' %}">

  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href=""><h2>Informações Itália<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/sobre">Sobre nós</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contato">Contato</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
      <div class="container-fluid">
        <div class="owl-banner owl-carousel">
          <div class="item">
            <img src="{% static 'assets/images/banner01.jpg' %}" alt="" height="350" width="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span></span>
                </div>
                <!-- <a href="post-details.html"><p style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 200%; color: #ffffff; text-shadow: 3px 3px #173B0B; font-palette: ;">Coliseu</p></a>-->
                <ul class="post-info">
                  <li><a href="#" style="color: #ffffff; font: Sans-serif; text-shadow: 1px 1px #141414;">Coliseu - Sua construção se iniciou no ano de 72 d.C.</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'assets/images/banner02.jpg' %}" alt="" height="350" width="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span></span>
                </div>
                <!--<a href="post-details.html"><h3 style="color: #ffffff; text-shadow: 3px 3px #141414;">Fontana di Trevi</h3></a>-->
                <ul class="post-info">
                  <li><a href="#" style="color: #ffffff; text-shadow: 1px 1px #141414;">Fontana di Trevi - Imortalizada no cinema</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'assets/images/banner08.jpg' %}" alt="" height="350" width="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span></span>
                </div>
                <!--<a href="post-details.html"><h3 style="color: #ffffff; text-shadow: 3px 3px #141414">Torre de Pisa</h3></a>-->
                <ul class="post-info">
                  <li><a href="#" style="color: #ffffff; text-shadow: 1px 1px #141414;">Torre de Pisa - A torre inclinada</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'assets/images/banner03.jpg' %}" alt="" height="350" width="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span></span>
                </div>
                <!--<a href="post-details.html"><h3 style="color: #ffffff; text-shadow: 3px 3px #141414;">Catedral Duomo</h3></a>-->
                <ul class="post-info">
                  <li><a href="#" style="color: #ffffff; text-shadow: 1px 1px #141414;">Catedral Duomo - Terceira maior igreja do mundo</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'assets/images/banner04.jpg' %}" alt="" height="350" width="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span></span>
                </div>
                <!--<a href="post-details.html"><h3 style="color: #ffffff; text-shadow: 3px 3px #141414;">Igreja Santa Maria delle Grazie</h3></a>-->
                <ul class="post-info">
                  <li><a href="#" style="color: #ffffff; text-shadow: 1px 1px #141414;">Igreja Santa Maria delle Grazie - Linda e grandiosa</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'assets/images/banner05.jpg' %}" alt="" height="350" width="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span></span>
                </div>
               <!-- <a href="post-details.html"><h3 style="color: #ffffff; text-shadow: 3px 3px #141414;">Galeria Vittorio Emanuele II</h3></a>-->
                <ul class="post-info">
                  <li><a href="#" style="color: #ffffff; text-shadow: 1px 1px #141414;">Galeria Vittorio Emanuele II - linda e cheia de lojas</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content">
              <div class="row">
                <div class="col-lg-8">
                  <span>Já tem Cidadania Italiana?</span>
                  <h4>Saiba se você tem direito</h4>
                </div>
                <div class="col-lg-4">
                  <div class="main-button">
                    <a rel="nofollow" href="https://templatemo.com/tm-551-stand-blog" target="_parent">Clique aqui!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{% static 'assets/images/imag002.jpeg' %}" alt="" height="370" width="340">
                    </div>
                    <div class="down-content">
                      <span>Associação Ítalo-Brasileira</span>
                      <a href="post-details.html"><h4>Como pode ajudar você?</h4></a>
                      <p>Podemos afirmar que a Associação Ítalo-Brasileira é de suma importância para quem tem o sonho de morar na Itália. 
                        Os primeiros passos, geralmente não são fáceis, pois você pode se deparar com várias dúvidas, e ter um local seguro para obter essas informações é totalmente necessário.
                        Com escritórios no Brasil e na Itália, a Associação Ítalo-Brasileira ajudam diariamente muitas pessoas das mais diversas formas.
                        Se você está em busca de informações ou ajuda, indicamos entrar em contato para tirar as dúvidas com quem tem vários anos de experiência.
                      </p>
                    </div>
                  </div>
                </div>              
                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="blog.html">Associação Ítalo-Brasileira</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Perguntas recentes</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="">
                          <h5>Meu bisavô era Italiano. Tenho direito a cidadania?</h5>
                          <span>Sim. Só precisa obter a documentação necessária e dar entrada no processo.</span>
                        </a></li>
                        <li><a href="">
                          <h5>Preciso morar na Itália para conseguir a cidadania?</h5>
                          <span>Não necessariamente. Tem outras formas de conseguir a cidadania.</span>
                        </a></li>
                        <li><a href="">
                          <h5>Nunca fui para Itália, tem alguém que nos auxilia quando chegar aí?</h5>
                          <span>Sim. Temos uma equipe que auxilia pessoas, passando informações corretas e seguras.
                          </span>
                        </a></li>
                        <li><a href="">
                          <h5>Quero conhecer a Itália com minha família. Tem algum guia que possa indicar?</h5>
                          <span>Sim. Temos guias que são credenciados diretamente conosco ao seu dispor.
                          </span>
                        </a></li>
                        <li><a href="">
                          <h5>Se eu fazer minha cidadania italiana, minha esposa e meus filhos tem direito?</h5>
                          <span>Sim, porém deve se informar corretamente com quem fazer seu processo da cidadania.
                          </span>
                        </a></li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">- Nature Lifestyle</a></li>
                        <li><a href="#">- Awesome Layouts</a></li>
                        <li><a href="#">- Creative Ideas</a></li>
                        <li><a href="#">- Responsive Templates</a></li>
                        <li><a href="#">- HTML5 / CSS3 Templates</a></li>
                        <li><a href="#">- Creative &amp; Unique</a></li>
                      </ul>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <!-- <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Behance</a></li>
              <li><a href="#">Linkedin</a></li>
              <li><a href="#">Dribbble</a></li>
            </ul>
          </div> -->
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>Copyright Informações Itália.
                    
                 | Atualizado: <a rel="nofollow" href="" target="_parent">2023</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

    <!-- Additional Scripts -->
    <!-- <link rel="stylesheet" href="{% static 'assets\css\flex-slider.css' %}">-->


    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>